from setuptools import setup, find_packages

setup(
    name = "${name}",
    version = "${version}",
    packages = find_packages(),
    zip_safe = True,
)

'''
entry_points = {
    'setuptools.installation': [
        'eggsecutable = plugin:main',
    ],
},
'''