*.class
Thumbs.db
.DS_Store
.svn
excludedFiles.txt
.classpath
.project
ghidra.repos.config

/*/*/*/*/*/bin/
/*/*/*/*/*/build/
/*/*/*/*/bin/
/*/*/*/*/build/
/*/*/*/bin/
/*/*/*/build/
/*/*/bin/
/*/*/build/
/*/bin/
/*/build/
/build/
/bin/

**/dist
repositories/
*.sla
**/data/build.xml

# Misc files
*.setting
*.settings
*.directory
.gradle/
.settings/

# File locks
*.ulock
*.lock

# Gradle creates these per developer
**/vs/

# Misc files produced while executing application
Ghidra/.ghidraSvrKeys
wrapper.log*

# Ignore object files
*.o
*.obj

# Ignore MS Visual Studio artifcats
Release
#Debug
*.ncb
*.suo
*.aps
*.vcproj.*

# Ignore UNIX backup files
*~
*.swp

# Ignore eclipse project files
.project
.classpath
