<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.debug.core.groups.GroupLaunchConfigurationType">
    <stringAttribute key="org.eclipse.debug.core.launchGroup.0.action" value="OUTPUT_REGEXP"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.0.actionParam" value="Listening for transport dt_socket at address: \d+"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.0.adoptIfRunning" value="false"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.0.enabled" value="true"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.0.mode" value="debug"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.0.name" value="_PyGhidra Interpreter Debug"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.1.action" value="NONE"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.1.adoptIfRunning" value="true"/>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.1.enabled" value="true"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.1.mode" value="debug"/>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.1.name" value="Ghidra Attach"/>
    <listAttribute key="org.eclipse.debug.ui.favoriteGroups">
        <listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
    </listAttribute>
</launchConfiguration>
