<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<category
            id="GhidraCategory"
            name="Ghidra">
        </category>
		<package 
			uri = "http://www.xtext.ghidra/sleigh/Sleigh"
			class = "ghidra.xtext.sleigh.sleigh.SleighPackage"
			genModel = "model/generated/Sleigh.genmodel" />
	</extension>
</plugin>
