<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.xtext.ghidra/sleigh/Sleigh"
			class = "ghidra.xtext.sleigh.sleigh.SleighPackage"
			genModel = "model/generated/Sleigh.genmodel" />
	</extension>
</plugin>
